/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# rspec failure tracking
.rspec_status


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
Cargo.lock
